In [135]:
#functions
#1.. arg pass-return
#2.arg pass -no return
#3. no args-return 
#4.no args-no return 

def hi(name):
    return f"hello,{name}!!"
print(hi("students"))

hello,students!!

In [137]:
#function with default parameters
def sample(x,y=1): #here y=1 is initialized and it does  chanege when we provide two values in function call
    return x*y
print(sample(5))
print(sample(5,8))

5
40

In [139]:
#functions with keyword arguments it only used for single datatype
def result(*args):
    return sum(args)

print(result(1,2,3,4,5,6,7,8,9,10))
print(result(11,22,33,44,55,66,77,88,99,100))

55
595

In [141]:
#function with keyword arguments using ** it uses different datatypes
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
info(name="vijaya",age=20,city="vijayawada")

name:vijaya
age:20
city:vijayawada

In [143]:
#lamda function which is used to represent in a single expresiion
sq=lambda x:x*x*10
print(sq(9))
add=lambda x,y:x+y
print(add(48,58))

810
106

In [145]:
#write a program to return a  n number of multiple values where passing a lsit of 1 to 5 elements and return the min max and avg in a single function .
def num(n):
    return min(n),max(n),sum(n)/len(n)
min_val,max_val,avg
num([1,2,3,5,6,8,7])
print(f"Min: {min_val}, Max:{max_val},Average:{avg}")

Min: 1, Max:5,Average:3.0

In [147]:
#types of recursions
"""
1.direct recursion
2.indirect recursion
3.tail recursion
4.nontail/head recursion
5.tree recursion
6,linear recursion
7.binary recursion
8.multiple recursion
9.nested recursion
10.mutual recursion
11.divide and conquer recursion
12.absolute/static recursion
"""

'\n1.direct recursion\n2.indirect recursion\n3.tail recursion\n4.nontail/head recursion\n5.tree recursion\n6,linear recursion\n7.binary recursion\n8.multiple recursion\n9.nested recursion\n10.mutual recursion\n11.divide and conquer recursion\n12.absolute/static recursion\n'

In [149]:
#1.. direct,nontail,head recursion factorial  
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
print(fact(5))

120

In [151]:
#2..indirect recursion of even and odd
def even(n):
    if n==0:
        return True
    return odd(n-1)  
def odd(n):
    if n==0:
        return False
    return even(n-1)
print(even(6))
print(odd(9))

True
True

In [153]:
#3..tail recursion in factorial
def fact(n,tail=1):
    if n==0 or n==1:
        return tail
    return fact(n-1,n*tail)
print(fact(5))

120

In [157]:
#linear recursion  sum of numbers from 1 to 10
def total(n):
    if n<=0:
        return 0
    return n+total(n-1)
print(total(10))

55

In [173]:
#nested recursion...........
#recursion within recursion is known as nested recursion

#super factorial
def sfact(n):
    if n<=0:
        return 1
    return fact(n)*sfact(n-1)
print(sfact(5))
print(sfact(3))
def sfact(n):
    if n<=0:
        return 1
    return n*fact(n-1)
print(fact(4))
print(fact(3))

34560
12
24
6

In [177]:
#power tower (2,3)=2^(2^2)=(4)^2=16  here first 2 is base and exponent is 3
def pt(a,n):
    if n==1:
        return a
    return a**pt(a,n-1)

print(pt(3,2))
print(pt(2,4))

27
65536